# see xayn_search, same setup
SEARCH_API_BASE_URL="COPY_URL_HERE"
SEARCH_API_SECRET_KEY="COPY_KEY_HERE"
IMAGE_FETCHER_URL="COPY_URL_HERE"
INSTABUG_TOKEN="COPY_KEY_HERE"
AMPLITUDE_API_KEY="COPY_KEY_HERE"
APPSFLYER_DEV_KEY="COPY_KEY_HERE"
APP_STORE_NUMERICAL_ID="COPY_KEY_HERE"
AI_ASSETS_URL="AI_ASSETS_URL_HERE"